@charset "UTF-8";
#header{
    text-align: center;
    margin: auto;
    background-color: rgba(241, 166, 4, 0.596);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    width:80%;
}

#textoH1{
    font-size: 65px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: auto;
    position: relative;
}
#datos{
    width:80%;
    text-align: center;
    background-color: aqua;
    margin: auto;
    margin-top: 0.5cm;
}
#fase{
    width: 49%;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin-top: 1cm;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 1cm;
    background-color:  rgba(238, 232, 217, 0.548);
}
#tiempo{
    width: 49%;
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1cm;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 1cm;
    text-align: center;
    align-items: center;
    background-color:   rgba(238, 232, 217, 0.548);
}
.numero{
    font-family: fantasy;
    border: 1px solid black;
    border-radius: 5px;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}
#temp{
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1cm;
    font-size: x-large;
    text-align: center;
    position: relative;
    margin-top: 8cm;
    margin-bottom: 2cm;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 1cm;
    background-color:   rgba(238, 232, 217, 0.548);
}

#figuras{
    position: relative;
    padding-left: 0.5cm;
}
#figuras2{
    position: relative;
    padding-left: 0.5cm;
}

#bloqueConfig{
    width: 80%;
    margin: auto;
    align-items: center;
    background-color: rgba(238, 232, 217, 0.548);
    margin-top: 1cm;
    border: 2px solid black;
    border-radius: 10px;
}

#filacong{
    padding-top: 0.5cm;
    align-items: center;
    margin: auto;
    position: relative;
    text-align: center;
}

#textoconfig{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    padding-right: 5cm;
}

.boton{
    -webkit-appearance: none;
    position: relative;
    background-color: white;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.boton::before{
    content: "";
    position:absolute;
    height: 30px;
    width: 30px;
    left: 0;
    background-color: rgb(255, 208, 0);
    border-radius: 20px;
    transform: scale(1.1);
    transition: 0.7s ease all;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.boton:checked::before{
    background-color: aliceblue;
    left: 60px;
}

.alarma{
    margin-left: 10px;
    transform: scale(1.1);
}
.botonsubmit{
    margin-left: 10px;
    transform: scale(1.1);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 208, 0);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}
.botonsubmit:hover{
    background-color: rgba(34, 29, 6, 0.767);
    color: whitesmoke;
}
